@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@font-face {
    font-family: 'montreal';
    src: url('./fonts/Montreal-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'montreal-bold';
    src: url('./fonts/Montreal-Bold.woff') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
